@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: 0 0% 100%;
  /* White background */
  --foreground: 222.2 84% 4.9%;
  /* Dark foreground */
}

.dark {
  --background: 222.2 84% 4.9%;
  /* Dark background */
  --foreground: 0 0% 100%;
  /* Light foreground */
}
